<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <title>管理员</title>
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>

<header class="am-topbar am-topbar-inverse admin-header">
 <div class="am-u-md-8 am-u-md-push-2">
  <div class="am-topbar-brand">
    <strong>Crowdsourcing</strong> <small>众包标注平台</small>
  </div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li class="am-dropdown" >
        系统管理员
      </li>
    </ul>
  </div>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body am-u-md-8 am-u-md-push-2 am-panel am-panel-default">
            <div class="admin-content-body">
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">管理员</strong> / <strong>Administrator</strong></div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="am-u-md-10 am-u-md-push-1" >
                    <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list " id="info">
                        <li><a class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>用户数<br/>{{numOfUsers}}</a></li>
                        <li><a class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>任务数<br/>{{numOfTasks}}</a></li>
                        <li><a class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>进行中<br/>{{numOfDoing}}</a></li>
                        <li><a class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>已完成<br/>{{numOfFinished}}</a></li>
                    </ul>
                </div>
                <div id="main1" style="width: 600px;height: 400px;"></div>
                <div id="main2" style="width: 600px;height: 400px;"></div>
            </div>
        </div>
  <!-- content end -->
    </div>
</div>

<script src="/lib/jquery.js"></script>
<script src="/lib/vue.js"></script>
<script src="/lib/echarts.js"></script>
<script src="/js/administrator.js"></script>

</body>
</html>
